@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Open+Sans:wght@300;400&family=Source+Code+Pro:wght@300&family=Work+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.8;

}

.dark-mode{
    background: rgb(218, 161, 231);
    color: #fff;
}

.light-mode{
    background:#fff; 
    color: rgb(218, 161, 231);
}

#light-mode-container{
    position: absolute;
    top: 2px;
    right: 8px;
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}


#quiz{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-direction: column;
}

.button-dark{
    cursor: pointer;
    padding: 10px;
    color: rgb(218, 161, 231);
    background-color: #fff;
    border: none;
    margin-bottom: 10px;
    display: inline;
    width: 40%;
    align-self: center;

} 

.button-light{
    cursor: pointer;
    padding: 10px;
    color: #fff;
    background-color: rgb(218, 161, 231);
    border: none;
    margin-bottom: 10px;
    display: inline;
    width: 40%;
    align-self: center;

}
#start{
    margin-top: 30px;
}

.hidden{
    display: none;
}

.flex-result{

    display: flex;
    justify-content: center;
    text-align: center;
  
}

#results{
  font-weight: 100; 
  text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#amountQuestions{
    display: inline;
    width: 5%;
    align-self: center;
}